html 
{
	background-color: black;
}
nav
{
	text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
	display: inline-block;
	color: #f1f1f1;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}

li a:hover {
  background-color: #111;
}
h1 
{
	text-align: center;
}
#frame
{
	text-align: center;	
	height: content-box;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	color: #f1f1f1;
	width: 50%;
	padding: 20px;
	left: 25%;

}
#thumbnail
{
	text-align:center;
	height:124px;
	width: 848px;
}
#backVid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;	
}
p 
{
	font-family: "Monospace", Courier New;
	text-align:center;
} 
