html 
{
	background-color: black;
}
nav
{
	text-align: center;
	width: 100%;
	font-family: 'Electrolize', sans-serif;
}

ul 
{
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 10px;
	display: inline-block;
	overflow: hidden;
	background-color: #8B0000;
	border-radius:10px;
	text-align: center;
}

li {
  float: left;
}

li a {
	color: #fff;
	text-align: center;
	border-radius:10px;
	padding: 10px;
	text-decoration: none;
}

li a:hover {
  background-color: #590000;
}
/*
THIS IS FOR ALL THE TITLES
*/
h1 
{
	text-align: center;
	font-family: 'Electrolize', sans-serif;
}
h2
{
	font-family: 'Electrolize', sans-serif;
}
h3
{
	font-family: 'Electrolize', sans-serif;
}
h4
{
	font-family: 'Electrolize', sans-serif;
}
td
{
	font-family: 'Electrolize', sans-serif;
	font-size:20px;
}
/*
THIS IS THE BLACK BOX IN THE BACKGROUND
*/
#frame
{
	text-align: center;	
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	color: #f1f1f1;
	width: 50%;
	padding: 20px;
	left: 25%;
}
/*
THE THUMBNAIL ON TOP
*/
#thumbnail
{
	text-align:center;
	height:124px;
	width: 848px;
	size:75%;
	position: relative;
	height: 80%;
	width: 80%;
}
/*
BACKGROUND VIDEO
*/
#backVid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;	
}
body div section
{

}
/*
THIS IS FOR THE UPDATES ON THE UPDATES PAGE
*/
#articles
{
	padding: 10px;
	overflow: hidden;
	background-color: none;
	text-align: center;
}
body div section div article
{
	padding: 5px;
	overflow: hidden;
	background-color: black;
	text-align: center;
	
}
body div section div article h3
{
	margin: 5px;
	padding: 5px;
	overflow: hidden;
	background-color: #8B0000;
	text-align: left;
	border-radius: 10px;
}
body div section div article p img
{
	margin: 5px;
	padding: 5px;
	overflow: hidden;
	background-color: #fff;
	text-align: center;
	height:50%;
	width:50%;
}
body div section h2
{
	background-color: none;
	text-align: center;
	
}
body div section div article p
{
	margin: 5px;
	padding: 5px;
	text-align:justify;
	overflow: hidden;
	background-color: #8B0000;
	border-radius: 10px;
}
body div section div article p sub
{
	margin: 5px;
	padding: 5px;
	text-align:right;
	overflow: hidden;
	background-color: #8B0000;
	
}
/*
NO IDEA WHAT THIS IS FOR
*/
p 
{
	font-family: 'Electrolize', sans-serif;
	text-align:center;
	font-size:20px;
} 
/*
THIS IS FOR THE TRAILER VIDEO ON THE FRONT PAGE
*/
.trailer {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.trailer iframe, .trailer object, .trailer embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/*
THIS IS FOR THE CHANNEL VIDEOS PLAYLIST
*/
.channel-videos {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.channel-videos iframe, .channel-videos object, .channel-videos embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/*
THIS IS ALL TIMELINE STUFF UNDER THIS TEXT
*/
.timeline
{
	position: relative;
	margin: 50px auto;
	padding: 40px 0;
	width: 1000px;
	box-sizing: border-box;
	
}
.timeline:before
{
	content: '';
	position: absolute;
	left 50%;
	width: 2px;
	height: 100%;
	background: #8B0000;
}

.timeline ul2
{
	margin: 0;
	padding: 0;
}
.timeline ul2 li
{
	list-style: none;
	position: relative;
	width: 50%;
	padding: 20px 40px;
	box-sizing: border-box;
}
.timeline ul2 li:nth-child(odd)
{
	float: left;
	text-allign: right;
	clear: both;
}
.timeline ul2 li:nth-child(even)
{
	float: right;
	text-allign: left;
	clear: both;
}
.content
{
	padding-bottom: 20 px;
}
.timeline ul2 li:nth-child(odd):before
{
	content: '';
	position: absolute;
	top: 24px;
	right: -6px;
	width: 10px;
	height: 10px;
	background: rgba(255,0,0,1);
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(255,0,0,0.2);
}
.timeline ul2 li:nth-child(even):before
{
	content: '';
	position: absolute;
	top: 24px;
	left: -4px;
	width: 10px;
	height: 10px;
	background: rgba(255,0,0,1);
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(255,0,0,0.2);
}
.timeline ul2 li h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: rgba(255,0,0,1);
}
.timeline ul2 li p
{
	margin: 10px 0 0;
	padding: 0;
}
.timeline ul2 li .time h4
{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.timeline ul2 li:nth-child(odd) .time
{
	position: absolute;
	top: 12px;
	right: -165px;
	margin: 0;
	padding: 8px 16px;
	background: rgba(255,0,0,1);
	color: #fff;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(255,0,0,0.3);
}
.timeline ul2 li:nth-child(even) .time
{
	position: absolute;
	top: 12px;
	left: -165px;
	margin: 0;
	padding: 8px 16px;
	background: rgba(255,0,0,1);
	color: #fff;
	border-radius: 18px;
	box-shadow: 0 0 0 3px rgba(255,0,0,0.3);
}
@media (max-width: 1300px)
{
.timeline
{
	width: 100%;
	padding-bottom: 0;
}
	.timeline:before
	{
		left:20px;
	}
	.timeline ul2 li:nth-child(odd),
	.timeline ul2 li:nth-child(even)
	{
		width: 100%;
		text-align:left;
		padding-left:50px;
		padding-bottom:50px;
	}
	.timeline ul2 li:nth-child(odd):before,
	.timeline ul2 li:nth-child(even):before
	{
		top: -18px;
		left: 16px;
	}
	.timeline ul2 li:nth-child(odd) .time,
	.timeline ul2 li:nth-child(even) .time
	{
		top: -30px;
		left: 50px;
		right: inherit;
	}
	
}
#releaser
{
	background-color:#8B0000;
	border-radius: 10px;
	font-family: 'Electrolize', sans-serif;
	font-size: 20px;
}
.downloads
{
	padding: 0px;
	margin: 0px;
}
#scarlet
{
	position:relative;
	width:65%;
	height:auto;
	margin: 0px;
	padding: 0px;
}
.table_about:after 
{
  display: flex;
}
.about_paragraph
{
	margin:5px;
	padding:10px;
	text-align:justify;
	overflow: hidden;
	position: static;
	float: left;
}
.about_paragraph_2
{
	margin:5px;
	padding:5px;
	text-align:justify;
	overflow: hidden;
	position: relative;
	top: 5px;
	float: left;
}
.contact_me
{
	text-align: center;
	position: relative;
}
#selfie
{
	height: auto;
	width: 30%;
	text-align: left;
	position: relative;
}
